Source: imapsync
Section: mail
Priority: optional
Maintainer: Jan Wagner <waja@cyconet.org>
Vcs-Browser: https://github.com/waja/imapsync
Vcs-Git: https://github.com/waja/imapsync.git
Build-Depends: cdbs, debhelper (>= 7)
Build-Depends-Indep: libauthen-ntlm-perl,
                     libdata-uniqid-perl,
                     libdate-manip-perl,
                     libdigest-hmac-perl,
                     libfile-copy-recursive-perl,
                     libio-socket-ip-perl,
                     libio-socket-ssl-perl,
                     libio-tee-perl,
                     libmail-imapclient-perl (>= 3.20-2),
                     libterm-readkey-perl,
                     libtest-pod-perl,
                     libunicode-string-perl,
                     perl
Homepage: http://imapsync.lamiral.info/
Standards-Version: 3.9.8

Package: imapsync
Architecture: all
Depends: libauthen-ntlm-perl,
         libdate-manip-perl,
         libdata-uniqid-perl,
         libdigest-hmac-perl,
         libfile-copy-recursive-perl,
         libio-socket-ip-perl,
         libio-socket-ssl-perl,
         libio-tee-perl,
         libmail-imapclient-perl (>= 3.20-2),
         libterm-readkey-perl,
         libtest-pod-perl,
         libunicode-string-perl,
         perl,
         ${misc:Depends}
Description: IMAP synchronization, copy and migration tool
 The command imapsync is a tool allowing incremental and recursive imap
 transfer from one mailbox to another.
 .
 Sometimes mailboxes needs to transfer from one imap server to another.
 This is called migration.
 .
 imapsync is the adequate tool because it reduces the amount of data
 transferred by not transferring a given message if it is already on both
 sides. Same headers, same message size and the transfer is done only
 once. All flags are preserved, unread will stay unread, read will stay
 read, deleted will stay deleted. It can be stopped the transfer at any time
 and restarted later, imapsync is adapted to a bad connection.
 .
 It can decided to delete the messages from the source mailbox after a
 successful transfer (it is a good feature when migrating). In that
 case, use the --delete option, and run imapsync again with the --expunge
 option.
 .
 It can be also just synchronized a mailbox A from another mailbox B in case
 you just want to keep a "live" copy of B in A (backup).
 .
 Similar packages: offlineimap, imapcopy.
