#!/usr/bin/make -f

DEB_MAKE_INSTALL_TARGET:=install DESTDIR=$(CURDIR)/debian/imapsync

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk  
include /usr/share/cdbs/1/rules/simple-patchsys.mk

clean::
	rm -f imapsync.1
